
  <div class="row">
    <div class="col-sm-2"><h4>Language</h4></div>
    <div class="col-md-auto">
        <mat-form-field>
            <mat-label>Select Language</mat-label>
            <mat-select>
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{language.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    
  
  </div>  


<div class="row">
  <div class="col-sm-2"><h4>Unit of Distance</h4></div>
  <div class="col-md-auto">
      <mat-form-field>
          <mat-label>Select Distance</mat-label>
          <mat-select>
            <mat-option *ngFor="let distance of distances" [value]="distance.value">
              {{distance.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
</div>


<div class="row">
  <div class="col-sm-2"><h4>Unit of Capacity</h4></div>
  <div class="col-md-auto"><mat-form-field>
      <mat-label>Select Capacity</mat-label>
      <mat-select>
        <mat-option *ngFor="let capacity of capacities" [value]="capacity.value">
          {{capacity.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field></div>

  

</div>


<div class="row">
    <div class="col-sm-2"><h4>Unit of Temperature</h4></div>
    <div class="col-md-auto"><mat-form-field>
        <mat-label>Select Temperature</mat-label>
        <mat-select>
          <mat-option *ngFor="let temperature of temperatures" [value]="temperature.value">
            {{temperature.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field></div>

  

</div>


<div class="row">
    <div class="col-sm-2"><h4>Currency</h4></div>
    <div class="col-md-auto">
        <mat-form-field class="example-full-width">
            <input matInput value="INR">
          </mat-form-field>
    </div>

  
  
</div>

<div class="row">
    <div class="col-sm-2"><h4>Time Zone</h4></div>
    <div class="col-md-auto">
        <mat-form-field>
            <mat-label>Select Time Zone</mat-label>
            <mat-select>
              <mat-option *ngFor="let time of times" [value]="time.value">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

  

</div>


<button class="btn btn-primary">Save</button>


