<div class="main-content">
    <div class="container-fluid">
        <div class="row">
              <div class="col-lg-6 col-md-12">
  
                <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <div class="row">
                                    <div class="col-sm">
                                            <h4 class="card-title">All Events Notifications 
                                              </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                            <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>santro sportz car charger</td>
                                        <td>over speed</td>
                                        <td>2019-06-24 <br> 09:13:17</td>
                                      </tr>
                                      <tr>
                                         <td>santro sportz car charger</td>
                                         <td>over speed</td>
                                         <td>2019-06-24 <br> 09:13:17</td>
                                      </tr>
                                      <tr>
                                         <td>santro sportz car charger</td>
                                         <td>over speed</td>
                                         <td>2019-06-24 <br> 09:13:17</td>
                                      </tr>
                                      <tr>
                                         <td>santro sportz car charger</td>
                                         <td>over speed</td>
                                         <td>2019-06-24 <br> 09:13:17</td>
                                      </tr>
                                      <tr>
                                          <td>santro sportz car charger</td>
                                          <td>over speed</td>
                                          <td>2019-06-24 <br> 09:13:17</td>
                                      </tr>
                                      <tr>
                                          <td>santro sportz car charger</td>
                                          <td>over speed</td>
                                            <td>2019-06-24 <br> 09:13:17</td>
                                        </tr>
                                        <tr>
                                            <td>santro sportz car charger</td>
                                            <td>over speed</td>
                                            <td>2019-06-24 <br> 09:13:17</td>
                                        </tr>
                                        <tr>
                                            <td>santro sportz car charger</td>
                                            <td>over speed</td>
                                            <td>2019-06-24 <br> 09:13:17</td>
                                        </tr>
                                    </tbody>
                                  </table>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                      <div class="row">
                          <div class="col-sm">
                                  <h4 class="card-title">Events Notifications Access Map 
                                    </h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <app-maps></app-maps>
          </div>
      </div>
            </div>
            </div>
            </div>
          </div>